body {
   margin: 8px auto;
   max-width: 650px;
   line-height: 1.6;
   font-size: 18px;
   padding: 0 10px;
   font-family: 'Roboto', sans-serif;
   /* font-family: sans-serif; */
   background: #eee;
   font-weight: 300;
   color: #444;
}

h1,h2,h3 {
   line-height:1.2;
   font-weight: 300;
}

table {
   font-weight: 100;
   border-collapse: collapse;
}

th, td {
   padding: 4px 8px;
   text-align: left;
   border-bottom: 1px solid #ccc;
}


th {
   font-weight: 300;
}

.logo {
   /* float: right */
}

.logo h5 {
   margin: 0;
}

.logo p {
   margin: 0;
   font-size: 12px;
}

.logo strong {
   color: #327f9d;
   font-weight: 900;
   margin-bottom: 0px;
}

a { 
   /* color: #0077aa; */
   color: #327f9d;
   text-decoration: none;
}

/* record button */
.record {
   background: #f44336;
   border-color: darkred;
   border-radius: 50%;
   border-width: 1px;
   padding: 9px;
}

/* .collapsible:after { */
/*    content: '\02C5'; */
/*    float: right; */
/*    margin-left: 6px; */
/*    position: absolute; */
/*    font-size: 32px; */
/*    right: 0px; */
/*    top: 16px; */
/* } */


.collapsible-content {
   max-height: 0px;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
}

.active:after {
   content: '\02C4';
}


/* Tabulators */
.tab {
   margin-bottom: 1ex;
   /* border-collapse: unset; */
   display: flex;
   background-color: #ddd6;
}

.tab td {
   padding: 3px 1rem;
   border-bottom: none;
}

.tab .top {
   background-color: #ddd;
   color: #666;
   font-weight: 300;
   border-top: 1px solid #666;
   border-left: 1px solid #666;
   border-right: 1px solid #666;
   border-bottom: 1px solid #666;
}

.tab .sub {
   font-weight: 300;
   /* border-bottom: 1px solid; */
}

