body {
   margin: 12px auto;
   max-width: 650px;
   line-height: 1.6;
   font-size: 18px;
   padding: 0 10px;
   font-family: 'Roboto', sans-serif;
   /* font-family: sans-serif; */
   background: #eee;
   font-weight: 300;
   color: #444;
}

h1,h2,h3 {
   line-height:1.2;
   font-weight: 300;
}

table {
   font-weight: 100;
   border-collapse: collapse;
}

th, td {
   padding: 4px 8px;
   text-align: left;
   border-bottom: 1px solid #ccc;
}


th {
   font-weight: 300;
}

.logo {
   background-color: #9996;
   padding: 4px 8px;
   position: relative;
   border-radius: 2px;
}

.logo h5 {
   margin: 0;
}

.logo p {
   margin: 0;
   font-size: 12px;
}

.logo strong {
   color: #7878d8;
   font-weight: 900;
   margin-bottom: 0px;
}

a {
   color: #7878d8;
   text-decoration: none;
}

/* record button */
.record {
   background: #d87878;
   position: absolute;
   top: 8px;
   right: 8px;
   text-align: right;
   font-weight: 300;
   border-radius: 2px;
}

.record:hover {
   background: #c26c6c;
}

.record .sub {
   padding: 3px 8px;
}

.record .top {
   margin-top: 2px;
}

.record .top a {
   margin-right: 8px;
}

.record .cmd:hover {
   background: #ddd;
}

.record .top ul {
   margin-top: 4px;
   text-align: center;
}

.record a {
   color: #eee;
}

.record ul {
   margin: 0px;
   padding: 0px;
   list-style: none;
}

.record .cmd {
   background: white;
   color: #444;
   padding: 8px;
}

.record .cmd a {
   color: #444;
}

.collapsible-content {
   max-height: 0px;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
}

.trackmenu {
   position: absolute;
   top: -8px;
   right: 32px;
}

.trackmenu ul {
   margin: 8px;
   padding-left: 0px;
}

.trackmenu li {
   background: #fff;
   border-radius: 2px;
   list-style: none;
   padding: 0px 8px;
   font-weight: 300;
}

.trackmenu li:hover {
   background: #ddd;
}


/* Tabulators */
.tab {
   margin-bottom: 1ex;
   border-collapse: unset;
   display: flex;
   background-color: #ddd6;
   border-radius: 2px;
}

.tab td {
   padding: 3px 1rem;
   border-bottom: none;
}

.tab .top {
   background-color: #ddd;
   color: #444;
   font-weight: 300;
   border-radius: 2px;
}

.tab .sub {
   font-weight: 300;
}

.tab .sub:hover {
   background: #e4e4f7;
}

.dotmenu {
   display: flex;
   flex-direction: column;
   padding: 0px 16px;
   cursor: pointer;
}

.dot {
   height: 3px;
   width: 3px;
   margin: 2px;
   background: #444;
   border-radius: 50%;
   display; inline-block;
}
